.rd-btn {

    &__neutral-md {
        @include btn-md($neutrals-8, $primary-1, (linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), $primary-1), $neutrals-8, $primary-1);
        background-color: $primary-1;
        border-color: transparent;
    }

    &__dark-md {
        @include btn-md($neutrals-8, $neutrals-8, $neutrals-8, $neutrals-2, $neutrals-4);
        background-color: $neutrals-1;
    }

    &__light-md {
        @include btn-md($neutrals-8, $neutrals-8, $neutrals-8, $neutrals-2, $neutrals-4);
        background-color: $neutrals-1;
    }



}