@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
h1, h2, h3, h4, h5, h6, button, blockquote {
  font-family: "DM Sans", sans-serif;
}

span, p, div, strong, a, em, pre, code, abbr {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #141416;
  overflow-x: hidden;
}

.la-btn__neutral-md {
  border: 2px solid #3772FF;
  color: #E6E8EC;
  padding: 16px 24px;
  border-radius: 90px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  text-decoration: none;
  background-color: #3772FF;
  border-color: transparent;
}
.la-btn__neutral-md:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), #3772FF;
  color: #E6E8EC;
  transition: all 0.3s ease;
  border-color: transparent;
}
.la-btn__neutral-md:disabled {
  opacity: 0.5;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), #3772FF;
  color: #E6E8EC;
}
.la-btn__dark-md {
  border: 2px solid #777E90;
  color: #E6E8EC;
  padding: 16px 24px;
  border-radius: 90px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  text-decoration: none;
  background-color: #141416;
}
.la-btn__dark-md:hover {
  background: #E6E8EC;
  color: #23262F;
  transition: all 0.3s ease;
  border-color: transparent;
}
.la-btn__dark-md:disabled {
  opacity: 0.5;
  background: #E6E8EC;
  color: #23262F;
}
.la-btn__dark-md:hover path {
  fill: #141416 !important;
}
.la-btn__light-md {
  border: 2px solid #777E90;
  color: #E6E8EC;
  padding: 16px 24px;
  border-radius: 90px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  text-decoration: none;
  background-color: #141416;
}
.la-btn__light-md:hover {
  background: #E6E8EC;
  color: #23262F;
  transition: all 0.3s ease;
  border-color: transparent;
}
.la-btn__light-md:disabled {
  opacity: 0.5;
  background: #E6E8EC;
  color: #23262F;
}

.la-nav {
  width: 100%;
  margin-top: 48px;
}
.la-nav__container {
  max-width: 1210px;
  margin: auto;
}
@media only screen and (min-width: 1440px) {
  .la-nav__container {
    width: 1440px;
  }
}
@media only screen and (max-width: 1440px) {
  .la-nav__container {
    width: 1024px;
  }
}
@media only screen and (max-width: 1200px) {
  .la-nav__container {
    width: 1024px;
  }
}
@media only screen and (max-width: 1024px) {
  .la-nav__container {
    width: 100%;
  }
}
.la-nav__inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.la-nav__logo img {
  height: 40px;
}
@media only screen and (max-width: 480px) {
  .la-nav__logo img {
    height: 30px;
  }
}
@media only screen and (max-width: 1200px) {
  .la-nav {
    padding: 0 24px;
  }
}
@media only screen and (max-width: 480px) {
  .la-nav {
    padding: 0 12px;
  }
}

.la-header {
  margin-top: 125px;
}
.la-header__container {
  max-width: 1210px;
  margin: auto;
  position: relative;
}
.la-header__container .circle-2 {
  position: absolute;
  left: -81px;
  top: 50%;
}
@media only screen and (max-width: 1200px) {
  .la-header__container .circle-2 {
    display: none;
  }
}
@media only screen and (min-width: 1440px) {
  .la-header__container {
    width: 1440px;
  }
}
@media only screen and (max-width: 1440px) {
  .la-header__container {
    width: 1024px;
  }
}
@media only screen and (max-width: 1200px) {
  .la-header__container {
    width: 1024px;
  }
}
@media only screen and (max-width: 1024px) {
  .la-header__container {
    width: 100%;
  }
}
.la-header__inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .la-header__inner {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 55px;
  }
}
.la-header__left {
  position: relative;
}
.la-header__left .circle-1 {
  position: absolute;
  right: 147px;
  top: -50px;
}
@media only screen and (max-width: 1200px) {
  .la-header__left .circle-1 {
    display: none;
  }
}
.la-header__title {
  color: #E6E8EC;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.28px;
  max-width: 544px;
  margin-bottom: 32px;
}
@media only screen and (max-width: 768px) {
  .la-header__title {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.96px;
  }
}
.la-header__text {
  color: #E6E8EC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
}
.la-header__btn-group {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media only screen and (max-width: 370px) {
  .la-header__btn-group {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .la-header__btn-group button {
    font-size: 11.5px;
  }
}
.la-header__right {
  width: 589px;
  height: 634px;
  position: relative;
}
.la-header__right-hero {
  width: 100%;
  height: 100%;
  position: relative;
}
.la-header__right-hero-phone1 {
  width: 351px;
  position: relative;
  z-index: 2;
  animation: phone-1 infinite ease-in-out 3s;
}
@media only screen and (max-width: 1200px) {
  .la-header__right-hero-phone1 {
    width: 290px;
  }
}
@media only screen and (max-width: 1024px) {
  .la-header__right-hero-phone1 {
    width: 250px;
  }
}
@media only screen and (max-width: 768px) {
  .la-header__right-hero-phone1 {
    width: 161px;
  }
}
.la-header__right-hero-phone2 {
  width: 360px;
  position: absolute;
  right: 0;
  bottom: 0;
  animation: phone-2 infinite ease-in-out 3s;
}
@media only screen and (max-width: 1200px) {
  .la-header__right-hero-phone2 {
    width: 300px;
  }
}
@media only screen and (max-width: 1024px) {
  .la-header__right-hero-phone2 {
    width: 260px;
  }
}
@media only screen and (max-width: 768px) {
  .la-header__right-hero-phone2 {
    width: 169px;
  }
}
@media only screen and (max-width: 768px) {
  .la-header__right-hero {
    width: 277px;
    height: 290px;
  }
}
@keyframes phone-1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes phone-2 {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}
.la-header__right-sphere1 {
  width: 142px;
  height: 142px;
  position: absolute;
  left: -35px;
  bottom: 226px;
  z-index: 3;
  animation: sphare-anim 5s linear infinite;
}
@media only screen and (max-width: 1200px) {
  .la-header__right-sphere1 {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (max-width: 1024px) {
  .la-header__right-sphere1 {
    width: 90px;
    height: 90px;
  }
}
@media only screen and (max-width: 768px) {
  .la-header__right-sphere1 {
    width: 66px;
    height: 66px;
    left: 35px;
    bottom: 260px;
  }
}
.la-header__right-sphere2 {
  width: 88.744px;
  height: 88.744px;
  position: absolute;
  right: -65px;
  top: 92px;
  animation: sphare-anim 3s linear infinite;
}
@media only screen and (max-width: 1200px) {
  .la-header__right-sphere2 {
    width: 60px;
    height: 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .la-header__right-sphere2 {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .la-header__right-sphere2 {
    width: 41px;
    height: 41px;
    right: 23px;
    top: 39px;
  }
}
.la-header__right-sphere3 {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 87px;
  animation: sphare-anim 5s linear infinite;
}
@media only screen and (max-width: 1200px) {
  .la-header__right-sphere3 {
    width: 25px;
    height: 25px;
  }
}
@media only screen and (max-width: 1024px) {
  .la-header__right-sphere3 {
    width: 20px;
    height: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .la-header__right-sphere3 {
    width: 14px;
    height: 14px;
    right: 48px;
    bottom: 215px;
  }
}
.la-header__right-sphere4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  top: 70px;
  animation: sphare-anim 5s linear infinite;
}
@media only screen and (max-width: 1200px) {
  .la-header__right-sphere4 {
    width: 20px;
    height: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .la-header__right-sphere4 {
    width: 15px;
    height: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .la-header__right-sphere4 {
    width: 11px;
    height: 11px;
  }
}
@keyframes sphare-anim {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1200px) {
  .la-header__right {
    width: 460px;
    height: 500px;
  }
}
@media only screen and (max-width: 1024px) {
  .la-header__right {
    width: 400px;
    height: 450px;
  }
}
@media only screen and (max-width: 768px) {
  .la-header__right {
    max-width: 375px;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
  }
}
.la-header__bottom {
  display: flex;
  align-items: center;
  margin-top: 18.25px;
}
@media only screen and (max-width: 768px) {
  .la-header__bottom {
    display: none;
  }
}
.la-header__bottom-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: #B1B5C3;
}
@media only screen and (max-width: 1200px) {
  .la-header {
    padding: 0 24px;
  }
}
@media only screen and (max-width: 768px) {
  .la-header {
    margin-top: 48px;
  }
}
@media only screen and (max-width: 480px) {
  .la-header {
    padding: 0 12px;
  }
}

.la-process {
  margin-top: 128px;
}
.la-process__container {
  max-width: 1376px;
  margin: auto;
  position: relative;
}
.la-process__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: #E6E8EC;
  text-align: center;
  margin-bottom: 27px;
}
@media only screen and (min-width: 1024px) {
  .la-process__title {
    display: none;
  }
}
.la-process__inner {
  width: 100%;
  padding: 80px 0;
  border-radius: 48px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(217deg, rgba(27, 29, 35, 0.7) 0%, rgba(27, 29, 35, 0.5) 100%);
  box-shadow: 0px 24px 16px -16px rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
@media only screen and (max-width: 1024px) {
  .la-process__inner {
    background: transparent;
    border: none;
    padding: 0;
  }
}
.la-process__item {
  height: 237px;
  display: flex;
  flex-direction: column;
}
.la-process__item-img {
  width: 128px;
  height: 128px;
  margin-bottom: 24px;
}
.la-process__item-count {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #141416;
  margin-bottom: 13.78px;
}
.la-process__item-count__number {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: #E6E8EC;
}
.la-process__item-text {
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #E6E8EC;
}
.la-process .swiper-wrapper {
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media only screen and (max-width: 1024px) {
  .la-process .swiper-wrapper {
    padding-left: 12px;
  }
}
@media only screen and (min-width: 900px) {
  .la-process .swiper-wrapper {
    padding-left: 0;
    justify-content: center;
  }
}
.la-process .swiper {
  width: 100%;
  height: 100%;
}
.la-process .swiper-slide {
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.la-process .swiper-line svg {
  position: relative;
  top: 64px;
}
@media only screen and (max-width: 1024px) {
  .la-process .swiper-line svg {
    top: 106px;
  }
}
@media only screen and (max-width: 1200px) {
  .la-process .swiper-line {
    width: 48px;
  }
}
@media only screen and (max-width: 1024px) {
  .la-process {
    margin-top: 0;
  }
}

.la-feature {
  margin-top: 136px;
  min-height: 100vh;
}
.la-feature__container {
  max-width: 1440px;
  margin: auto;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .la-feature__container {
    padding: 0 32px;
  }
}
.la-feature__inner {
  width: 100%;
  display: grid;
  grid-template-columns: 560px 352px;
  grid-row: repeat(2, 1fr);
  align-items: center;
  justify-content: space-around;
  grid-template-areas: "left-mockup right-title" "left-mockup right-accordion";
}
@media only screen and (max-width: 768px) {
  .la-feature__inner {
    grid-template-columns: 1fr;
    grid-template-areas: "right-title" "left-mockup" "right-accordion";
    row-gap: 40px;
    align-items: center;
    justify-content: center;
  }
}
.la-feature__left {
  width: 560px;
  height: 812px;
  max-height: 812px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141416;
  position: relative;
  grid-area: left-mockup;
}
@media only screen and (max-width: 768px) {
  .la-feature__left {
    width: 311px;
    height: 451px;
  }
}
.la-feature__left-content-circle {
  width: 100%;
}
.la-feature__left-content-mockup {
  width: 391px;
  height: 829px;
  overflow: hidden;
  border-radius: 60px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
}
@media only screen and (max-width: 768px) {
  .la-feature__left-content-mockup {
    width: 208px;
    height: 451px;
    border-radius: 32px;
  }
}
.la-feature__left-content-mockup__phone {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.la-feature__left-content-mockup__screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 8px;
  left: 8px;
}
@media only screen and (max-width: 768px) {
  .la-feature__left-content-mockup__screen {
    top: 0px;
    left: 0px;
  }
}
.la-feature__right {
  grid-area: right-title;
}
.la-feature__right-content {
  width: 352px;
}
.la-feature__right-content__sub-title {
  color: #FFD166;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.la-feature__right-content__title {
  color: #E6E8EC;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
  margin: 14px 0 24px 0;
}
.la-feature__right-content__desc {
  color: #E6E8EC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.la-feature .accordion {
  margin-top: 40px;
  width: 352px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  grid-area: right-accordion;
}
.la-feature .accordion .accordion-item {
  overflow: hidden;
  padding: 24px;
  border-radius: 16px;
}
.la-feature .accordion .accordion-item .accordion-header {
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
  cursor: pointer;
}
.la-feature .accordion .accordion-item .accordion-header img {
  width: 24px;
  height: 24px;
}
.la-feature .accordion .accordion-item .accordion-header p {
  color: #E6E8EC;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.la-feature .accordion .accordion-item .accordion-content {
  max-height: 0;
  overflow: hidden;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-left: 57px;
  transition: max-height 0.5s ease-in-out;
}
.la-feature .accordion .accordion-item .collapsing {
  transition: none;
}
.la-feature .accordion .accordion-item.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;
  background-color: #E4D7CF;
}
.la-feature .accordion .accordion-item.active .accordion-header p {
  color: #23262F;
}
.la-feature .accordion .accordion-item.active .accordion-content {
  max-height: 300px;
}

.cs-nav {
  width: 100%;
  margin-top: 48px;
}
.cs-nav__container {
  max-width: 1210px;
  margin: auto;
}
@media only screen and (min-width: 1440px) {
  .cs-nav__container {
    width: 1440px;
  }
}
@media only screen and (max-width: 1440px) {
  .cs-nav__container {
    width: 1024px;
  }
}
@media only screen and (max-width: 1200px) {
  .cs-nav__container {
    width: 1024px;
  }
}
@media only screen and (max-width: 1024px) {
  .cs-nav__container {
    width: 100%;
  }
}
.cs-nav__inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cs-nav__logo img {
  height: 40px;
}
@media only screen and (max-width: 480px) {
  .cs-nav__logo img {
    height: 30px;
  }
}
@media only screen and (max-width: 1200px) {
  .cs-nav {
    padding: 0 24px;
  }
}
@media only screen and (max-width: 480px) {
  .cs-nav {
    padding: 0 12px;
  }
}

.cs-header {
  margin: 125px 0;
}
.cs-header__container {
  max-width: 1210px;
  margin: auto;
  position: relative;
}
.cs-header__container .circle-2 {
  position: absolute;
  left: -81px;
  top: 50%;
}
@media only screen and (max-width: 1200px) {
  .cs-header__container .circle-2 {
    display: none;
  }
}
@media only screen and (min-width: 1440px) {
  .cs-header__container {
    width: 1440px;
  }
}
@media only screen and (max-width: 1440px) {
  .cs-header__container {
    width: 1024px;
  }
}
@media only screen and (max-width: 1200px) {
  .cs-header__container {
    width: 1024px;
  }
}
@media only screen and (max-width: 1024px) {
  .cs-header__container {
    width: 100%;
  }
}
.cs-header__inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .cs-header__inner {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 55px;
  }
}
.cs-header__left {
  position: relative;
}
.cs-header__left .circle-1 {
  position: absolute;
  right: 147px;
  top: -50px;
}
@media only screen and (max-width: 1200px) {
  .cs-header__left .circle-1 {
    display: none;
  }
}
.cs-header__title {
  color: #E6E8EC;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.28px;
  max-width: 544px;
  margin-bottom: 32px;
}
@media only screen and (max-width: 768px) {
  .cs-header__title {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.96px;
  }
}
.cs-header__text {
  color: #E6E8EC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
}
.cs-header__btn-group {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media only screen and (max-width: 370px) {
  .cs-header__btn-group {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .cs-header__btn-group button {
    font-size: 11.5px;
  }
}
.cs-header__right {
  width: 589px;
  height: 634px;
  position: relative;
}
.cs-header__right-hero {
  width: 100%;
  height: 100%;
  position: relative;
}
.cs-header__right-hero-phone1 {
  width: 351px;
  position: relative;
  z-index: 2;
  animation: phone-1 infinite ease-in-out 3s;
}
@media only screen and (max-width: 1200px) {
  .cs-header__right-hero-phone1 {
    width: 290px;
  }
}
@media only screen and (max-width: 1024px) {
  .cs-header__right-hero-phone1 {
    width: 250px;
  }
}
@media only screen and (max-width: 768px) {
  .cs-header__right-hero-phone1 {
    width: 161px;
  }
}
.cs-header__right-hero-phone2 {
  width: 360px;
  position: absolute;
  right: 0;
  bottom: 0;
  animation: phone-2 infinite ease-in-out 3s;
}
@media only screen and (max-width: 1200px) {
  .cs-header__right-hero-phone2 {
    width: 300px;
  }
}
@media only screen and (max-width: 1024px) {
  .cs-header__right-hero-phone2 {
    width: 260px;
  }
}
@media only screen and (max-width: 768px) {
  .cs-header__right-hero-phone2 {
    width: 169px;
  }
}
@media only screen and (max-width: 768px) {
  .cs-header__right-hero {
    width: 277px;
    height: 290px;
  }
}
@keyframes phone-1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes phone-2 {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}
.cs-header__right-sphere1 {
  width: 142px;
  height: 142px;
  position: absolute;
  left: -35px;
  bottom: 226px;
  z-index: 3;
  animation: sphare-anim 5s linear infinite;
}
@media only screen and (max-width: 1200px) {
  .cs-header__right-sphere1 {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (max-width: 1024px) {
  .cs-header__right-sphere1 {
    width: 90px;
    height: 90px;
  }
}
@media only screen and (max-width: 768px) {
  .cs-header__right-sphere1 {
    width: 66px;
    height: 66px;
    left: 35px;
    bottom: 260px;
  }
}
.cs-header__right-sphere2 {
  width: 88.744px;
  height: 88.744px;
  position: absolute;
  right: -65px;
  top: 92px;
  animation: sphare-anim 3s linear infinite;
}
@media only screen and (max-width: 1200px) {
  .cs-header__right-sphere2 {
    width: 60px;
    height: 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .cs-header__right-sphere2 {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .cs-header__right-sphere2 {
    width: 41px;
    height: 41px;
    right: 23px;
    top: 39px;
  }
}
.cs-header__right-sphere3 {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 87px;
  animation: sphare-anim 5s linear infinite;
}
@media only screen and (max-width: 1200px) {
  .cs-header__right-sphere3 {
    width: 25px;
    height: 25px;
  }
}
@media only screen and (max-width: 1024px) {
  .cs-header__right-sphere3 {
    width: 20px;
    height: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .cs-header__right-sphere3 {
    width: 14px;
    height: 14px;
    right: 48px;
    bottom: 215px;
  }
}
.cs-header__right-sphere4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50%;
  top: 70px;
  animation: sphare-anim 5s linear infinite;
}
@media only screen and (max-width: 1200px) {
  .cs-header__right-sphere4 {
    width: 20px;
    height: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .cs-header__right-sphere4 {
    width: 15px;
    height: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .cs-header__right-sphere4 {
    width: 11px;
    height: 11px;
  }
}
@keyframes sphare-anim {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1200px) {
  .cs-header__right {
    width: 460px;
    height: 500px;
  }
}
@media only screen and (max-width: 1024px) {
  .cs-header__right {
    width: 400px;
    height: 450px;
  }
}
@media only screen and (max-width: 768px) {
  .cs-header__right {
    max-width: 375px;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 1200px) {
  .cs-header {
    padding: 0 24px;
  }
}
@media only screen and (max-width: 768px) {
  .cs-header {
    margin-top: 48px;
  }
}
@media only screen and (max-width: 480px) {
  .cs-header {
    padding: 0 12px;
  }
}/*# sourceMappingURL=style.css.map */