.cs-nav {
    width: 100%;
    margin-top: 48px;

    &__container {
        max-width: 1210px;
        margin: auto;

        @include mq(big-desktop-up) {
            width: 1440px;
        }
        @include mq(big-desktop-down) {
            width: 1024px;
        }
        @include mq(desktop-up) {
            width: 1024px;
        }
        @include mq(tablet-landscape-up) {
            width: 100%;
        }
    }

    &__inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        img {
            height: 40px;

            @include mq(phone-only) {
                height: 30px;
            }
        }
    }

    @include mq(desktop-up) {
        padding: 0 24px;
    }

    @include mq(phone-only) {
        padding: 0 12px;
    }
}

.cs-header {
    margin-top: 125px;

    &__container {
        max-width: 1210px;
        margin: auto;
        position: relative;

        .circle-2 {
            position: absolute;
            left: -81px;
            top: 50%;

            @include mq(desktop-up) {
                display: none;
            }
        }
        @include mq(big-desktop-up) {
            width: 1440px;
        }
        @include mq(big-desktop-down) {
            width: 1024px;
        }
        @include mq(desktop-up) {
            width: 1024px;
        }
        @include mq(tablet-landscape-up) {
            width: 100%;
        }
    }

    &__inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mq(tablet-portrait-up) {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 55px;
        }
    }

    &__left {
        position: relative;

        .circle-1 {
            position: absolute;
            right: 147px;
            top: -50px;

            @include mq(desktop-up) {
                display: none;
            }
        }
    }

    &__title {
        color: $neutrals-8;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -1.28px;
        max-width: 544px;
        margin-bottom: 32px;

        @include mq(tablet-portrait-up) {
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -0.96px;
        }
    }

    &__text {
        color: $neutrals-6;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 40px;
    }

    &__btn-group {
        display: flex;
        align-items: center;
        column-gap: 16px;

        @media only screen and (max-width: 370px) {
            column-gap: 10px;

            button {
                font-size: 11.5px;
            }
        }
    }

    &__right {
        width: 589px;
        height: 634px;
        position: relative;
        &-hero {
            width: 100%;
            height: 100%;
            position: relative;
            &-phone1 {
                width: 351px;
                position: relative;
                z-index: 2;
                animation: phone-1 infinite ease-in-out 3s;
                @include mq(desktop-up) {
                    width: 290px;
                }
                @include mq(tablet-landscape-up) {
                    width: 250px;
                }
                @include mq(tablet-portrait-up) {
                    width: 161px;
                }
            }
            &-phone2 {
                width: 360px;
                position: absolute;
                right: 0;
                bottom: 0;
                animation: phone-2 infinite ease-in-out 3s;
                @include mq(desktop-up) {
                    width: 300px;
                }
                @include mq(tablet-landscape-up) {
                    width: 260px;
                }
                @include mq(tablet-portrait-up) {
                    width: 169px;
                }
            }
            @include mq(tablet-portrait-up) {
                width: 277px;
                height: 290px;
            }
            @keyframes phone-1 {
                0% {
                    transform: translateY(0px);
                }
                50% {
                    transform: translateY(15px);
                }
                100% {
                    transform: translateY(0px);
                }
            }
            @keyframes phone-2 {
                0% {
                    transform: translateY(15px);
                }
                50% {
                    transform: translateY(0px);
                }
                100% {
                    transform: translateY(15px);
                }
            }
            
        }
        &-sphere1 {
            width: 142px;
            height: 142px;
            position: absolute;
            left: -35px;
            bottom: 226px;
            z-index: 3;
            // transform-origin: 50% 0px;
            animation: sphare-anim 5s linear infinite;
            @include mq(desktop-up) {
                width: 120px;
                height: 120px;
            }
            @include mq(tablet-landscape-up) {
                width: 90px;
                height: 90px;
            }
            @include mq(tablet-portrait-up) {
                width: 66px;
                height: 66px;
                left: 35px;
                bottom: 260px;
            }
        }
        &-sphere2 {
            width: 88.744px;
            height: 88.744px;
            position: absolute;
            right: -65px;
            top: 92px;
            animation: sphare-anim 3s linear infinite;
            @include mq(desktop-up) {
                width: 60px;
                height: 60px;
            }
            @include mq(tablet-landscape-up) {
                width: 50px;
                height: 50px;
            }
            @include mq(tablet-portrait-up) {
                width: 41px;
                height: 41px;
                right: 23px;
                top: 39px;
            }
        }
        &-sphere3 {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 0;
            bottom: 87px;
            animation: sphare-anim 5s linear infinite;
            @include mq(desktop-up) {
                width: 25px;
                height: 25px;
            }
            @include mq(tablet-landscape-up) {
                width: 20px;
                height: 20px;
            }
            @include mq(tablet-portrait-up) {
                width: 14px;
                height: 14px;
                right: 48px;
                bottom: 215px;
            }
        }
        &-sphere4 {
            width: 24px;
            height: 24px;
            position: absolute;
            left: 50%;
            top: 70px;
            animation: sphare-anim 5s linear infinite;
            @include mq(desktop-up) {
                width: 20px;
                height: 20px;
            }
            @include mq(tablet-landscape-up) {
                width: 15px;
                height: 15px;
            }
            @include mq(tablet-portrait-up) {
                width: 11px;
                height: 11px;
            }
        }
        @keyframes sphare-anim {
            0% {
              transform: rotate(0);
            }
            100% {
              transform: rotate(360deg);
            }
          }

        @include mq(desktop-up) {
            width: 460px;
            height: 500px;
        }
        @include mq(tablet-landscape-up) {
            width: 400px;
            height: 450px;
        }
        @include mq(tablet-portrait-up) {
            max-width: 375px;
            width: 100%;
            height: 450px;
            display: flex;
            justify-content: center;
        }
    }


    @include mq(desktop-up) {
        padding: 0 24px;
    }

    @include mq(tablet-portrait-up) {
        margin-top: 48px;
    }

    @include mq(phone-only) {
        padding: 0 12px;
    }
}
