

.rd-nav {
    width: 100%;
    margin-top: 48px;

    &__container {
        max-width: 1440px;
        margin: auto;

        @include mq(desktop-up) {
            width: 100%;
        }
    }

    &__inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        img {
            height: 40px;

            @include mq(phone-only) {
                height: 30px;
            }
        }
    }


    @include mq(desktop-up) {
        padding: 0 24px;
    }

    @include mq(phone-only) {
        padding: 0 12px;
    }
}

.rd-header {
    margin-top: 125px;
    

    &__container {
        max-width: 1440px;
        margin: auto;
        position: relative;

        .circle-2 {
            position: absolute;
            left: -81px;
            top: 50%;
    
            @include mq(desktop-up) {
                display: none;
            }
        }
    
        
        @include mq(big-desktop-down) {
            width: 1240px;
        }
        @include mq(desktop-up) {
            width: 1024px;
        }
        @include mq(tablet-landscape-up) {
            width: 100%;
        }
    }

    &__inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mq(tablet-portrait-up) {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 55px;
        }
        
    }

    &__left {
        position: relative;

        .circle-1 {
            position: absolute;
            right: 147px;
            top: -50px;

            @include mq(desktop-up) {
                display: none;
            }
        }
    }

    &__title {
        color: $neutrals-8;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -1.28px;
        max-width: 544px;
        margin-bottom: 32px;

        @include mq(tablet-portrait-up) {
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -0.96px;
        }
    }

    &__text {
        color: $neutrals-6;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 40px;
    }

    &__btn-group {
        display: flex;
        align-items: center;
        column-gap: 16px;

        @media only screen and (max-width: 370px) {
            column-gap: 10px;

            button {
                font-size: 11.5px;
            }
        }
    }

    &__right {
        max-width: 696px;
        img {
            width: 100%;
        }
        @include mq(tablet-landscape-up) {
            width: 450px;
        }
        @include mq(tablet-portrait-up) {
            width: 100%;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        margin-top: 18.25px;

        @include mq(tablet-portrait-up) {
            display: none;
        }
    }

    &__bottom-text {
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        color: $neutrals-5;
    }

    @include mq(desktop-up) {
        padding: 0 24px;
    }

    @include mq(tablet-portrait-up) {
        margin-top: 48px;
    }

    @include mq(phone-only) {
        padding: 0 12px;
    }
}